@import "../../../bower_components/components-font-awesome/scss/font-awesome";

.tree {
    padding: 0;
}

.tree li {
    border: 0;
    list-style: none;
    font-size: 13px;
    padding: 2px;
}

.tree li a {
    text-decoration: none;
    display: inline-block;
}

.tree li.dir ul {
    max-height: 0;    
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}

.tree li.dir .opened {
    max-height: 500px;
    transition: max-height 0.4s ease-in;
}
